<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
    <title>Flask API Boilerplate</title>
  </head>
  <body>
    <div className="container">
      <div className="jumbotron text-center">
        <p className="font-weight-bold">
          <h3>Flask API Boilerplate</h3>
        </p>
        <p>
          This is the base URL for the API endpoints. Please see the README in the
          repo for instructions on testing or using the API endpoints.
        </p>
      </div>
    </div>
  </body>
</html>
